* {
  box-sizing: border-box;
}

body {
  font-family: "Calibri", Arial, sans-serif !important;
  font-weight: 400;
  font-size: 15px;
  /* line-height: 1.8 !important; */
  color: rgb(20, 20, 20);

  --main-color: oklch(83.7% 0.128 66.29);
  --main-color-darker: oklch(76.9% 0.188 70.08);
  --main-color-lighter: oklch(95.4% 0.038 75.164);
}

.subtext {
  color: #334155;
}

.little-extra::after {
  background-color: var(--main-color);
  opacity: 50%;
  z-index: -1;
  content: "";
  display: block;
  width: 4rem;
  height: 1.25rem;
  position: absolute;
  margin-top: -1.25rem;
  margin-left: -0.25rem;
}

blockquote::before {
  @media screen and (max-width: 768px) {
    font-size: 5rem;
    margin-top: -2rem;
    margin-left: -1.5rem;
  }
  @media screen and (min-width: 768px) {
    font-size: 10rem;
    margin-top: -4rem;
    margin-left: -3rem;
  }
  content: "“";
  color: var(--main-color);
  opacity: 33%;
  position: absolute;
}
blockquote {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Projets */

.projet-item .projet-tag {
  font-size: small;
  border: var(--main-color-lighter) solid 0.5px;
  color: var(--main-color-darker);
  padding: 1px 3px;
  border-radius: 0.25rem;
}

.projet-item > .projet-liens > a {
  color: var(--main-color-darker);
  text-decoration: underline;
  transition: color 0.3s;
}
a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
  color: var(--main-color-darker);
}
