{% if include.code == 'fr' %}
<svg viewBox="0 0 3 2" class="{{ include.class }}" aria-hidden="true">
  <rect width="1" height="2" x="0" fill="#0055A4" />
  <rect width="1" height="2" x="1" fill="#FFFFFF" />
  <rect width="1" height="2" x="2" fill="#EF4135" />
</svg>
{% else %}
<svg viewBox="0 0 60 30" class="{{ include.class }}" aria-hidden="true">
  <rect width="60" height="30" fill="#012169" />
  <path d="M0,0 L60,30 M60,0 L0,30" stroke="#FFFFFF" stroke-width="6" />
  <path d="M0,0 L60,30 M60,0 L0,30" stroke="#C8102E" stroke-width="4" />
  <path d="M30,0 V30 M0,15 H60" stroke="#FFFFFF" stroke-width="10" />
  <path d="M30,0 V30 M0,15 H60" stroke="#C8102E" stroke-width="6" />
</svg>
{% endif %}
