<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ page.description | default: site.description }}" />
    <meta name="author" content="{{ site.author | default: 'Paul Martinez' }}" />
    <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}" />
    <script src="https://cdn.tailwindcss.com"></script>
    {% seo %}
  </head>
  <body class="md:px-16 lg:px-32 xl:px-72 2xl:px-96">
    {{ content }}
  </body>
</html>
